*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    position: relative;
    width: 100%;
}
.background{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}
.background-repo
{
    display: none;
}
.img1{
    position: absolute;
    top: 250px;
    left: 0px;
}
.img2{
    position: absolute;
    top: 0px;
    right: 0px;
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-login {
    width: 900px;
    height: 600px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
    z-index: 1;
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: space-between;
}
.box-login-top {
    width: 80%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.box-login-top1{
    width: calc(100%/2 - 80px);
    height: 20px;
    border-bottom: 2px solid rgb(0, 89, 12);
    text-align: center;
}
.box-login-top1:hover{
   cursor: pointer;
}
.box-login-top2{
    width: calc(100%/2 - 80px);
    height: 20px;
    text-align: center;
}
.box-login-left {
    position: relative;
    width: calc(100%2);
    height: 100%;
    border: 0px solid red;
    overflow: hidden;
    border-radius: 20px;
}
.S-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-top{
    position: absolute;
    bottom: 200px;
    left:150px;
}
.img-bottom{
    position: absolute;
    top: 130px;
    right: 220px;
}
.box-login-right {
    position: relative;
    width: calc(100%/2);
    height: 100%;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#email {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0px;
    text-align: start;
    padding: 5px;
}
.error-message, .error-password{
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    display: none;
}
.success-message, .success-password {
    color: green;
    font-size: 12px;
    margin-bottom: 10px;
    display: none;
}
#password {
    width: 220px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0px;
    text-align: start;
    padding: 5px;
}
#submitButton{
    width: 250px;
    height: 40px;
    background-color: rgb(0, 119, 255);
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}
#submitButton:hover{
    cursor: pointer;
    font-weight: bolder;
    background-color: rgb(0, 102, 255);
}
button:hover{
    cursor: pointer;
}
#loader{
    /* display: none; */
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(187, 187, 187, 0.316);
    filter: brightness(90%);
    display: none;
}
#image{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: absolute;
}
.box-login-top3{
    display: none;
}
.remember{
    color:rgb(0, 119, 255)
}
@media screen and (max-width: 900px) {
    .main{
        overflow: hidden;
    }
    .background 
    {
        overflow: hidden;
        display: none;
    }
    .background-repo{
        display: flex;
        justify-content: center;
        scale: 1;
    }   
    .box-login{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .box-login-top1, .box-login-top2{
        width: 100%;
        display: none;
    }
    .box-login-left
    {
        display: none;
    }
    .box-login-right{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    .box-login-top3{
        display: block;
        text-align: center;
        font-weight: bolder;
        font-size: 20px;
        text-decoration: underline;
    }
    .box-login{
        border: 0px;
    }
}
